*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
}


body{ 
    background-image: url("images/Drizzle3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#navbar{ 
    display: flex;
    width: 100%;
}

#title{
    width: 50%;
    color: rgb(5, 36, 9);
    padding: 20px;
}

.currentTime{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    color: rgb(5, 36, 9);
    justify-content: flex-end;
    padding: 20px;
}

.card{
    width:100%;
    max-width: 400px;
    background-image: url(images/Drizzle3.png);
    margin: 20px auto ;
    padding: 30px 40px;  
    text-align: center;
    border-radius: 10px;
    color:green;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;

}

.search i {
    color:green;
    font-size: 1.8rem; 
    padding-right: 10px;
}

.search input{
    border:0;
    outline: 0;
    background: green;
    color:black;
    padding: 10px 20px; 
    margin-right: 5px; 
    border-radius: 20px;
    height: 40px;
    font-size: 18px;
}

.search ::-webkit-input-placeholder{
    color:rgb(63, 44, 44);
}

.search-Btn{
    cursor:pointer;

}

.weather-img{
    width: 40%;
    margin-top: 15px;
}

.weather h1{
    font-size: 40px;
}
.weather h2{
    font-size: 40px;
    margin-top: 5px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    margin-top: 30px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col i{
    width: 40px;
    margin-right: 10px; 
    color: green;
}

.humidity , .wind{
    font-size: 28px;
    margin-top: -5px;
}

i div{
    width: 50%;
}

/* .weather{ 
    display: none;
 } */

.error{
    text-align: left;
    margin: 10px 0px 0px 10px;
    font-size: 14px;
    display: none;
}

@media only screen and(max-width:480px){

.search{
    flex-direction: column;
}

.detail{
    flex-direction: column;
}

.col{
    flex-direction:column

}


}